<div>
    <div class="middle-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-5 ">
                    <h1 class="logo"> <a href="http://www.SwatiRealEstateProperty.com" title="logo"><img
                                src="./assets/images/Mainlogo.jpg" alt="Villa-in-Calicut" class="img-responsive"></a> </h1>
                </div>
                <div class="col-md-3 col-sm-3 hidden-sm hidden-xs">
                    <div class="contact-info-blocks ">
                        <div> <i class="fa fa-phone"></i><span><a href="tel:+91-9986504294"> +919986504294</a>
                                <!-- <br><a href="tel:+91 99 95 521 888">+91 99 95 521 888</a></span>--></span> </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3  hidden-sm hidden-xs">
                    <div class="contact-info-blocks text_lft ">
                        <a href="https://web.whatsapp.com/send/?phone=919986504294" target="_blank">
                            <div class="whats_aap">
                                <i class="fa fa-whatsapp">
                                </i><span> <span>Click Here to</span><br>
                                    WhatsApp</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-7">
                    <h1 class="logo"> <a href="http://www.SwatiRealEstateProperty.com" title="logo"><img
                                src="./assets/images/SRelogo.jpg" alt="Villa-for-sale-in-Calicut" class="img-responsive"></a>
                    </h1>
                    <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a>
                </div>


                <div class="col-md-6 col-sm-6 col-xs-6 mobile hidden-lg hidden-md ">
                    <div class="contact-info-blocks ">
                        <div> <i class="fa fa-phone"></i><span><a href="tel:+91 9986504294"> +91 9986504294</a></span>
                                
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 mobile hidden-lg hidden-md">
                    <div class="contact-info-blocks text_lft ">
                        <a href="https://api.whatsapp.com/send?phone=919986504294" target="_blank">
                            <div class="whats_aap">
                                <i class="fa fa-whatsapp"></i><span>
                                    <span>Click Here to</span><br>
                                    WhatsApp</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>