<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6 widget footer-widget widget_latest_news">
                <div class="clearfix"></div>
                <h3 class="widgettitle">Map Search<a href="map.php" type="button" class="btn btn-danger btn-xs">Click
                        Here</a></h3>
                <div class="footer_map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d74046.63993358711!2d77.80308748034196!3d12.739684382834723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae70a7a143c131%3A0xa89deb2516d69d23!2sSwati%20Real%20Estate%20Hosur!5e0!3m2!1sen!2sin!4v1677967532220!5m2!1sen!2sin"
                        width="100%" height="185" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 widget footer-widget widget_nav_menu">
                <div class="clearfix"></div>
                <h3 class="widgettitle">Services Offered</h3>
                <div class="menu-useful-links-container">
                    <ul id="menu-useful-links" class="menu">

                        <li><a routerLink="contactus">Real Estate Consultant</a></li>
                        <li><a routerLink="contactus">Property Valuation</a></li>
                        <li><a routerLink="contactus">Construction</a></li>
                        <li><a routerLink="contactus">Property Legal Advisor</a></li>
                        <li><a routerLink="contactus">Interior & Exterior</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-3 col-sm-3 widget footer-widget widget_newsletter">
                <div class="clearfix"></div>
                <h3 class="widgettitle">Contact</h3>
                <p><strong>Swati Real Estate Consultanty</strong><br> Pasumai Nagar , <br> #3/596 SS Villa,Near Railway
                    station<br> Hosur- 635 126<br> Mob : +91 99865 04294/8618102938, <br> SwatiRealEstate@Outlook.com</p>

                <div class="social-icons">
                    <a href="#" target="_blank" class="fb"><i
                            class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" class="twit"><i
                            class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
                    <a href="#" target="_blank" class="gmail"><i
                            class="fa fa-google-plus"></i></a>


                </div>
            </div>

        </div>
    </div>



    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="copyrights-col-left col-md-12 col-sm-12">
                    <p>© 2017 Swathi Real Estate - All rights reserved.</p>
                </div>

            </div>
        </div>
    </div>
    <!-- End Site Footer -->

</footer>