<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6 widget footer-widget widget_latest_news">
                <div class="clearfix"></div>
                <h3 class="widgettitle">Map Search<a href="map.php" type="button" class="btn btn-danger btn-xs">Click
                        Here</a></h3>
                <div class="footer_map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4145.705471578315!2d75.78699355254275!3d11.259580256346325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65948b4697a5b%3A0x4eb789600ff9d506!2sEmerald+Mall%2C+Mavoor+Rd%2C+Arayidathupalam%2C+Kozhikode%2C+Kerala+673004!5e0!3m2!1sen!2sin!4v1514802174582"
                        width="100%" height="185" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>




            <div class="col-md-3 col-sm-3 widget footer-widget widget_nav_menu">
                <div class="clearfix"></div>
                <h3 class="widgettitle">Services Offered</h3>
                <div class="menu-useful-links-container">
                    <ul id="menu-useful-links" class="menu">

                        <li><a href="contact.html">Real Estate Consultant</a></li>
                        <li><a href="contact.html">Property Valuation</a></li>
                        <li><a href="contact.html">Construction</a></li>
                        <li><a href="contact.html">Property Legal Advisor</a></li>
                        <li><a href="contact.html">Interior & Exterior</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-3 col-sm-3 widget footer-widget widget_newsletter">
                <div class="clearfix"></div>
                <h3 class="widgettitle">Contact</h3>
                <p><strong>Swati Real Estate Consultanty</strong><br> Pasumai Nagar , <br> #3/596 SS Villa,Near Railway
                    station<br> Hosur- 635 126<br> Mob : +91 99865 04294, <br> SwatiRealEstate@Outlook.com</p>

                <div class="social-icons">
                    <a href="https://www.facebook.com/kozhikode.property?ref=tn_tnmn" target="_blank" class="fb"><i
                            class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/Kozhikodeprop" target="_blank" class="twit"><i
                            class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
                    <a href="https://plus.google.com/u/0/103448586695039421206" target="_blank" class="gmail"><i
                            class="fa fa-google-plus"></i></a>


                </div>
            </div>

        </div>
    </div>



    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="copyrights-col-left col-md-12 col-sm-12">
                    <p>© 2017 Swathi Real Estate - All rights reserved.</p>
                </div>

            </div>
        </div>
    </div>
    <!-- End Site Footer -->

</footer>