<div class="main" role="main">
    <div id="content" class="content full">
      <div class="container add_ur_proprty hidden-lg hidden-md">
        <div class="post_btn">
          <a href="post-property"><img src="images/post-button1.png" alt="apartments"
              class="img-responsive"></a>
        </div>
      </div>
  
  
      <div id="featured-properties">
  
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block-heading">
                <h4><span class="heading-icon"><i class="fa fa-building"></i></span>Lease</h4>
              </div>
            </div>
          </div>
          <h3>Filter By</h3>
          <div class="row">
            <div class="col-md-4">
              <label style="display:inline">Property Type:   </label>
              <select style="display:inline" [(ngModel)]="selectedPropertyType.id"
                (change)="onSelect($any($event.target).value)">
                <option *ngFor="let propertytype of propertytypes" value={{propertytype.id}}>{{propertytype.name}}
                </option>
              </select>
            </div>
            <div class="col-md-4" >
              <label style="display:inline">Property Subtype:   </label>
              <select style="display:inline" [(ngModel)]="selectedSubType" (change)="onSubTypeChange()">
                <option *ngFor="let propertysubtype of propertysubtypes" value={{propertysubtype.name}}>
                  {{propertysubtype.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="owl-item">
              <ul>
  
                <li *ngFor="let prop of propertiesdata" class="owl-carousel owl-item property-block"><a
                    class="property-featured-image"><img [src]="ImagePath+prop.imageFileName"
                      class="attachment-600-400-size wp-post-image" width="100" height="150"
                      alt="Image not found" /><span class="images-count"><i
                        class="fa fa-picture-o"></i> 3</span></a>
                  <div class="property-info">
                    <h4><a href="#">{{prop.propertySubtype}}</a><span class="pid">
                        <!--(rs-dummy) --></span>
                    </h4>
                    <span class="location">Location: {{prop.mapURL}} <br>
                      Area : {{prop.purpose}} </span>
                    <div class="price"><span><strong>RS</strong><span>99,00,000</span></span>
                    </div>
                  </div>
  
  
                </li>
  
  
  
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="clearfix"></div>
  
  
  
    </div>
  </div>