<div class="main-menu-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navigation">
            <ul id="menu-main-menu" class="sf-menu">
              <li><a href="http://www.SwatiRealEstateProperty.com">Home</a></li>
              <li><a href="about.html">About Us</a></li>


              <li><a href="#">Property Type</a>
                <ul class="sub-menu">
                  <li><a href="#">Commercial</a>
                    <ul class="sub-menu">
                      <!--<li><a href="search-by-typenew?typ=Commercial&tag=Commercial Land">Commercial Building</a></li> -->
                      <li><a href="Commercial.html">Commercial Building</a></li>

                      <li><a href="search-by-typenew?typ=Commercial&tag=Office Space/Showroom">Office
                          Space/Showrooms</a></li>
                      <li><a href="search-by-typenew?typ=Commercial&tag=Commercial Land">Commercial Land</a></li>
                      <li><a href="search-by-typenew?typ=Commercial&tag=Godowns">Godowns</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Residential</a>
                    <ul class="sub-menu">
                      <li><a href="search-by-typenew?typ=Residential&tag=House">House</a></li>
                      <li><a href="search-by-typenew?typ=Residential&tag=Villa">Villa</a></li>
                      <li><a href="search-by-typenew?typ=Residential&tag=Flat/Apartment">Flat/Apartment</a></li>
                      <li><a href="search-by-typenew?typ=Residential&tag=House Plot">House Plot</a></li>
                    </ul>
                  </li>
                  <li><a href="search-by-typenew?typ=Agricultural_Land&tag=Agricultural_Land">Agriculture Land</a>
                  </li>
                </ul>
              </li>
              <!--<li><a href="search-by-tagnew?tag=Sell">Buy</a></li>
              <li><a href="search-by-tagnew?tag=Rent">Rent</a></li>	
              <li><a href="contact">Contact</a></li> -->
              <li><a href="Buy.html">Buy</a></li>
              <li><a href="Rent.html">Rent</a></li>
              <li><a href="contact.html">Contact</a></li>

              <!--<li class="hidden-sm hidden-xs"><a href="post-property" class="post_btn"><img src="images/post-button1.png" alt="property-for-sale-in-Hosur" class="img-responsive"></a></li> -->
              <li class="hidden-sm hidden-xs"><a href="post-property.html" class="post_btn"><img
                    src="./assets/images/post-button1.png" alt="property-for-sale-in-Hosur" class="img-responsive"></a></li>

            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>