<div class="main-menu-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navigation">
            <ul id="menu-main-menu" class="sf-menu">
              <li><a routerLink="" >Home</a></li>
              <li><a routerLink="aboutus">About Us</a></li>
              
              <!--<li><a href="search-by-tagnew?tag=Sell">Buy</a></li>
              <li><a href="search-by-tagnew?tag=Rent">Rent</a></li>	
              <li><a href="contact">Contact</a></li> -->
              <!-- <li><a routerLink="test">Buy</a></li> -->
              <li><a routerLink="sales">Sales</a></li>
              <li><a routerLink="rent">Rent</a></li>
              <li><a routerLink="lease">Lease</a></li>
              <li><a routerLink="contactus">Contact</a></li>
             

              <!--<li class="hidden-sm hidden-xs"><a href="post-property" class="post_btn"><img src="images/post-button1.png" alt="property-for-sale-in-Hosur" class="img-responsive"></a></li> -->
              <!-- <li class="hidden-sm hidden-xs"><a outerlink="postproperty" class="post_btn"><img
                    src="./assets/images/post-button1.png" alt="property-for-sale-in-Hosur" class="img-responsive"></a></li> -->

            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
