<div class="main" role="main">
    <div id="content" class="full">
        <div class="inner_banner_main">
            <div class="container">
                <h2>About Us</h2>
            </div>
        </div>

        <div class="clearfix"></div>


        <div class="container inner_page">
            <div class="row">

                <div class="media">
                    <div class="media-left ">
                        <a href="#">
                            <img class="media-object pull-left" src="assets/images/logo_baner.jpg"
                                alt="house-for-sale-in-Hosur ">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Big Deals </h4>
                        <p>Promoted by group of professionals to provide wide range of real estate service catering to
                            every conceivable need. The Management team consists of a high caliber team with a decade of
                            experience in real estate, legal, corporate, finance, construction, development and other
                            sectors.
                            We are direct selling agents of Azizi Developers – Dubai, Sobha Developers and Asset Homes.
                            We are realtor partners of Airtel, Bata, Woodland, Dominoz Pizza etc. to name a few. Big
                            Deals is executive member of CRAI, NAR India and its affiliates.</p>

                        <h5>Realtor Services of Big Deals</h5>

                        <h4 class="media-heading">Why Big Deals </h4>
                        <p>We are a professional Real Estate Services promoted by group of professionals to provide wide
                            range of solutions catering to every conceivable need. The Management team consists of a
                            high caliber team with relevant experience in real estate, legal, corporate, finance,
                            construction, development, retail and other sectors. With an invaluable experience of about
                            five years in this field, we provide expert end-to-end services for all Real Estate and
                            allied services. Big Deals has invested in strong in-house sales & marketing unit that
                            enables finding buyers and sellers for the properties. </p>



                        <div class="accordion" id="toggless">
                            <div class="accordion-group panel">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle"
                                        data-toggle="collapse" data-parent="#" href="#one">
                                        <h4 class="media-heading"> Negotiation Edge & Price Guidance </h4><br />
                                        <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                    </a> </div>
                                <div id="one" class="accordion-body collapse">
                                    <div class="accordion-inner">Most of the property deals do not materialize because
                                        of the differences in the prices of buyers and sellers The buyer is looking to
                                        get the property at the lowest price, while the seller wants the highest price,
                                        you're negotiating a complex transaction with potential pitfalls that could lose
                                        a prospective buyer or seller .We apply our experience to the price negotiations
                                        and helps to close the deal by providing advice and helping you to arrive at the
                                        best price. </div>
                                </div>
                            </div>

                            <div class="accordion-group panel">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle"
                                        data-toggle="collapse" data-parent="#" href="#two">
                                        <h4 class="media-heading"> Knowledge of Market </h4><br />
                                        <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                    </a> </div>
                                <div id="two" class="accordion-body collapse">
                                    <div class="accordion-inner">Knowledge of the real estate market you're buying in is
                                        invaluable in the property buying or selling process. We will provide a buyer
                                        informed opinions about the property 's future value, the neighborhood
                                        developments Sellers benefit from us by disclosing the property only to the most
                                        interested audience and get the highest price. Big Deals conducts detailed
                                        research to identify locations with high growth potential. Multiple data points
                                        are analyzed to assess the fundamentals of every location. In-depth work is done
                                        to determine the past, current & future growth of social infrastructure for each
                                        location, Land acquisition for road widening, river & water streams issues etc
                                        are also considered while suggesting a property. </div>
                                </div>
                            </div>

                            <div class="accordion-group panel">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle"
                                        data-toggle="collapse" data-parent="#" href="#three">
                                        <h4 class="media-heading"> Marketing </h4><br />
                                        <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                    </a> </div>
                                <div id="three" class="accordion-body collapse">
                                    <div class="accordion-inner">Marketing exposes your property to the public as well
                                        as to other real estate agents. We knows better on when, where and how to
                                        advertise which medium, format and frequency will work best for your property
                                        and your market. 
                                        <p>We do Multiple Listing Service of your property with all leading property
                                            portals , newspapers, and other suitable media which will helps to get a
                                            wider reach. We handle the client calls of advertisement enquiry on behalf
                                            of you and help us to get rid of unwanted calls and customer and to meet
                                            only relevant buyer or seller.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group panel">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle"
                                        data-toggle="collapse" data-parent="#" href="#four">
                                        <h4 class="media-heading"> Legalities </h4><br />
                                        <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                    </a> </div>
                                <div id="four" class="accordion-body collapse">
                                    <div class="accordion-inner">Buying or selling a property involves a lot of
                                        paperwork and is a complex process with different deadlines. We ensure the
                                        process goes smoothly and nothing important is missed. We have tied up with
                                        leading advocates and document writers for preparation of agreement and
                                        verification of documents. We have also tied up with leading chartered
                                        accountants and company secretaries to help the clients in capital gain
                                        calculation and acquisition of property of firms and corporate.

                                        <ul>
                                            <li> Helping Clients Get More Home For Less Money</li>
                                            <li> Turning Transactions Into Relationships</li>
                                            <li> Getting The Most Value For Your Property</li>
                                            <li> For Service Beyond The Sale, Call Me!</li>
                                            <li> Great Things Come Out Of All My Transactions</li>
                                            <li> Experienced In Saving You Money</li>
                                            <li> Well Researched to maximise your investments.</li>
                                            <li> Making every transaction go smoothly</li>
                                            <li> Sell For More. Buy For Less.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>


                        </div>




                    </div>
                </div>

            </div>
        </div>


        <!-- <div class="container">
     	<img src="images/addnew.jpg" class="img-responsive">
     </div>-->

    </div>
</div>