<div class="site-showcase">
    <div class="slider-mask overlay-transparent"></div>

    <div class="hero-slider flexslider clearfix" data-autoplay=yes data-pagination="no" data-arrows=yes
      data-style=fade data-pause="yes">
      <ul class="slides">
        <li class=" parallax" style="background-image:url(./assets/images/slide1-1200x500.jpg)">
          <div class="flex-caption"><strong class="title"> FLAT/APARTMENT <br></strong>
          </div>
        </li>
        <li class=" parallax" style="background-image:url(./assets/images/banner3.jpg)">
          <div class="flex-caption"><strong class="title">COMMERCIAL BUILDING <br></strong>
          </div>
        </li>
        <li class=" parallax" style="background-image:url(./assets/images/slide22-1200x500.jpg)">
          <div class="flex-caption"><strong class="title">FLAT/APARTMENT <br></strong>
          </div>
        </li>
        <li class=" parallax" style="background-image:url(./assets/images/banner4.jpg)">
          <div class="flex-caption"><strong class="title">HOUSE PLOT <br></strong>
          </div>
        </li>
      </ul>
    </div>
    <div class="site-search-module hidden-xs">
      <div class="container">
        <div class="site-search-module-inside">
          <h3>Find Your Property</h3>
          <div class="home_searchform">
            <form id="searchform1" name="search" method="post" action="search.php">
              <div class="form-group">
                <div class="row sfrow">
                  <div class="col-md-4 col-sm-4">
                    <div class="formBlock select-s">
                      <select name="select_for" required class="form-control input-lg select minimal">
                        <option value="">Type</option>
                        <option value="Sell">Buy</option>
                        <option value="Rent">Rent</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <div class="formBlock select-m ">
                      <select required class="form-control input-lg select minimal" name="select_type">
                        <option value="">Property</option>
                        <option value="Commercial">Commercial</option>
                        <option value="Residential">Residential</option>
                        <option value="Agricultural_Land">Agricultural Land</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1">
                    <button type="submit" name="submit" value="Search" class="btn btn-primary btn-block btn-lg"> <i
                        class="fa fa-long-arrow-right" aria-hidden="true"></i> </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>