<div id="content" class="full">
    <div class="inner_banner_main"><!--cotainer, pagestyle and contents-->
        <div class="container">
            <div class="col-md-6">
                <h2>Post your properties</h2>
            </div>
            <div class="col-md-6">

                <ol class="breadcrumb">
                    <li><a href="http://swatirealestate.com">Home</a></li>
                    <li class="active">Post your properties</li>
                </ol>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="container inner_page">
        <div class="row">
            <div class="col-md-8">



                <div class="widget">


                    <div class="clearfix"></div>

                    <div id="description">
                        <br>
                        <form #form="ngForm" id="listing" name="listing" method="post" enctype="multipart/form-data" 
                            (ngSubmit)="submitForm()">

                            <h3 class="widgettitle mrgin_t_25">Personal Details</h3>

                            <div class="form-group col-sm-12">
                                <label for="exampleInputEmail1">Your name <span class="red">*</span></label>
                                <input type="text" [(ngModel)]="personName" name="name" required="" class="form-control" id="" placeholder="">
                            </div>

                            <div class="clearfix"></div>

                            <div class="form-group col-sm-12">
                                <label for="radiobutton">Ownership Type <span class="red">*</span></label> &nbsp;
                                <input [(ngModel)]="ownershipType" name="radiobutton" type="radio" value="Owner" checked=""> Owner
                                <input [(ngModel)]="ownershipType" name="radiobutton" type="radio" value="Agent"> Agent
                                <input [(ngModel)]="ownershipType" name="radiobutton" type="radio" value="Builder"> Builder
                            </div>



                            <div class="form-group col-sm-12">
                                <label for="address">Address<span class="red">*</span></label>
                                <textarea [(ngModel)]="personAddress" name="address" required="" class="input-textarea form-control" rows="4"
                                    cols="1" id="address" title="message"></textarea>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="street">Street</label>
                                <input id="street" [(ngModel)]="street" name="street" class="form-control" value="" title="Street"
                                    type="text">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="city">City</label>
                                <input id="city" [(ngModel)]="city" name="city" class="form-control" value="" title="City" type="text">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-6">
                                <label for="state">State</label>
                                <input id="state" [(ngModel)]="state" name="state" class="form-control" value="" title="State" type="text">
                            </div>


                            <div class="form-group col-sm-6">
                                <label for="zip">Zip / Pin Code</label>
                                <input id="zip" [(ngModel)]="zip" name="zip" value="" class="form-control" title="Zip" type="text">
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group col-sm-6">
                                <label for="phone">Contact Number <span class="red">*</span></label>
                                <input id="phone" [(ngModel)]="contactNumber" name="phone" value="" class="form-control" title="Phone" type="text">
                            </div>


                            <div class="form-group col-sm-6">
                                <label for="email">E-mail address</label>
                                <input id="email" [(ngModel)]="emailAddress" name="email" value="" class="form-control" title="email" type="text">
                            </div>
                            <div class="clearfix"></div>

                            <h3 class="widgettitle mrgin_t_25">Property Details</h3>
                            <div class="clearfix"></div>

                            <div class="form-group col-sm-6">
                                <label for="exampleInputEmail1">Purpose <span class="red">*</span></label>
                                <select [(ngModel)]="purpose" class="form-control" required="" name="radiobutton2" fdprocessedid="z2h5oo">
                                    <option value="Sell">Sell</option>
                                    <option value="Rent">Rent</option>
                                    <option value="Rent">Lease</option>
                                </select>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="location">Location <span class="red">*</span></label>
                                <input id="location" [(ngModel)]="location" name="Location" value="" class="form-control" title="Location"
                                    type="text">
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group col-sm-6">
                                <label for="property_category">Category<span class="red">*</span></label>
                                <select class="form-control" [(ngModel)]="propertyType" required="" name="property_category" id="property_category"
                                    [(ngModel)]="selectedPropertyType.id"
                                    (change)="onSelect($any($event.target).value)">
                                    <option *ngFor="let propertytype of propertytypes" value={{propertytype.id}}>
                                        {{propertytype.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="property_type">Property Type <span class="red">*</span></label>
                                <select class="form-control" [(ngModel)]="propertySubtype" name="property_subtype" required="" [(ngModel)]="selectedSubType">
                                    <option *ngFor="let propertysubtype of propertysubtypes"
                                        value={{propertysubtype.name}}>
                                        {{propertysubtype.name}}</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-12">
                                <div id="sqftdiv" class="">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-4">
                                <div id="bedroom" class=""></div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div id="bathroom" class=""></div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div id="parking" class=""></div>
                            </div>
                            <div class="clearfix"></div>

                            <script>
                                $(document).ready(function () {
                                    $("#property_category").change(function () {
                                        var val = $(this).val();
                                        if (val == "Commercial") {
                                            //$("#pricediv").hide();
                                            $("#property_type").html("<option value=''>Please select</option><option value='Commercial Building'>Commercial Building</option><option value='Office Space/Showroom'>Office Space/Showroom</option><option value='Commercial Land'>Commercial Land</option><option value='Godowns'>Godowns</option>");
                                        }
                                        else if (val == "Residential") {
                                            $("#property_type").html("<option value=''>Please select</option><option value='House'>House</option><option value='Villa'>Villa</option><option value='Flat/Apartment'>Flat/Apartment</option><option value='House Plot'>House Plot</option>");
                                        }
                                        else if (val == "Agricultural_Land") {
                                            //$("#pricediv").hide();
                                            $("#property_type").html("<option value=''>Please select</option><option value='Agricultural_Land'>Agricultural Land</option>");
                                        }
                                    });

                                    $("#property_type").change(function () {
                                        var val = $(this).val();
                                        $("#bedroom").hide();
                                        $("#bathroom").hide();
                                        $("#parking").hide();
                                        if (val == "Commercial Land" || val == "House Plot" || val == "Agricultural_Land") {
                                            $("#sqftdiv").html("<label for='cent'>Cent<span class='red'></span></label><input id='cent' class='form-control' name='cent' value='' title='cent' type='text'/><label for='acre'>Acre<span class='red'>*</span></label><input id='acre' class='form-control' name='acre' value='' title='Acre' type='text'/>");

                                        }
                                        else if (val == "House" || val == "Villa" || val == "Flat/Apartment") {
                                            $("#sqftdiv").html("<label for='Square Feet'>Square Feet<span class='red'></span></label><input id='Squire_Feet' class='form-control' name='Squire_Feet' value='' title='Squire Feet' type='text'/>");
                                            $("#bedroom").show();
                                            $("#bathroom").show();
                                            $("#parking").show();
                                            $("#bedroom").html("<select id='bedroom' required name='bedroom'  class='selectpicker form-control'><option  value='0'>Select Bedroom</option><option  value='1'>1 Bedroom</option><option value='2'>2 Bedroom</option><option value='3'>3 Bedroom</option><option value='4'>4+ Bedroom</option></select>");
                                            $("#bathroom").html("<select id='bathroom' required name='bathroom' class='selectpicker form-control'><option  value='0'>Select Bathroom</option><option  value='1'>1 Bathroom</option><option value='2'>2 Bathroom</option><option value='3'>3 Bathroom</option><option value='4'>4+ Bathroom</option></select>");
                                            $("#parking").html("<select id='parking' required name='parking' class='selectpicker form-control'><option  value='0'>Select Parking</option><option  value='Yes'>Yes</option><option value='No'>No </option></select>");
                                        }
                                        else {
                                            $("#bedroom").hide();
                                            $("#bathroom").hide();
                                            $("#parking").hide();
                                            $("#sqftdiv").html("<label for='Square Feet'>Square Feet<span class='red'>*</span></label><input id='Squire_Feet' class='form-control' name='Squire_Feet' value='' title='Squire Feet' type='text'/>");
                                        }
                                    });

                                });
                            </script>

                            <div class="form-group col-sm-12">
                                <label for="exp_price">Expected Price (Rs)<span class="red">*</span></label>
                                <input id="price" [(ngModel)]="price" name="price" value="" class="form-control" title="price" type="text">
                            </div>

                            <div class="form-group col-sm-12" id="other_option" style="display: none;">
                                <label for="other_price">If Other Please Specify</label>
                                <input id="other_price" name="other_price" class="form-control" value="" title="Price"
                                    type="text">
                            </div>

                           <div class="clearfix"></div>
                            <div class="form-group col-sm-12">
                                <label for="title">Dimensions of Property</label>
                                <input id="title" [(ngModel)]="dimensions" name="dimensions" value="" class="form-control" title="title" type="text">
                            </div> 


                            <div class="form-group col-sm-12">
                                <label for="title">Title of property <span class="red">*</span></label>
                                <input id="title" [(ngModel)]="propertytitle" name="title" value="" class="form-control" title="title" type="text">
                            </div>


                            <div class="form-group col-sm-12">
                                <label for="message">Description of property</label>
                                <textarea name="message" [(ngModel)]="propertyDescription" class="input-textarea form-control" rows="5" cols="1"
                                    id="message" tabindex="4" title="message"></textarea>
                            </div>
                            <div class="clearfix"></div>
                            <script type="text/javascript"
                                src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places&amp;key=AIzaSyCOpnWY1ro-jfDg1EyaG-B5H8oAaYYwLyA"></script>
                            <script src="locationpicker.jquery.js"></script>
                            <div class=" col-sm-12">

                            </div>


                            <div class="clearfix"></div>
                            <div class=" col-sm-12">
                                <label class="">Google Map Link: </label>
                                <input type="text" [(ngModel)]="mapURL" class="form-control" name="latitude" id="us2-lat">
                            </div>

                            <div class="clearfix"></div>


                            <script>
                                $('#us2').locationpicker({
                                    location: {
                                        latitude: 11.2587531,
                                        longitude: 75.78041000000007
                                    },
                                    radius: 300,
                                    inputBinding: {
                                        latitudeInput: $('#us2-lat'),
                                        longitudeInput: $('#us2-lon'),
                                        // radiusInput: $('#us2-radius'),
                                        locationNameInput: $('#us2-address')
                                    },
                                    enableAutocomplete: true
                                });
                            </script>
                            <div class="clearfix"></div>
                            <div class=" col-sm-12">
                                <p>Only .jpg,. gif images under 250Kb are accepted for upload</p>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="file">Upload Photo <span class="red">*</span></label>
                                <input type="file" [(ngModel)]="imageFileName" name="file" (change)="imageUpload($event)">
                            </div>



                            <div class="form-group col-sm-12">
                                <div class="checkbox">
                                    <label>
                                        <!-- <input name="CHKBOX_1" type="checkbox" id="agree" value="1"> -->
                                        <input type="checkbox"  onchange="document.getElementById('signin_submit').disabled = !this.checked;" />
                                        Due to background verification, Posted property will be displayed in main page
                                        within 24 hours. I accept terms and conditions of <a
                                            href="terms">www.swatirealestate.com</a></label>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <p>
                                <span class="remember"><input id="signin_submit" name="signin_submit"
                                        value="Post Property" class="btn btn-primary mrg_t_15 mrg_b_15"
                                        type="submit" disabled></span>
                            </p>
                        </form>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>
</div>