<div id="content" class="full">
    <div class="inner_banner_main">
        <div class="container">
            <h2>Contact Us</h2>
        </div>
    </div>

    <div class="clearfix"></div>


    <div class="container inner_page">

        <div class="row">

            <div class="col-md-8 col-sm-8">
                <h3>Contact Form</h3>
                <div class="row">
                    <!--form method="post" id="contactform" name="contactform"  action="#"-->
                    <form id="contactform" class="contact-form" name="listing" method="post"
                        enctype="multipart/form-data" action="#" action="/en/contact.php">
                        <div class="col-md-6 margin-15">
                            <div class="form-group">
                                <input type="text" id="name" name="Name" required class="form-control input-lg"
                                    placeholder="Name*">
                            </div>
                            <div class="form-group">
                                <input type="email" id="email" name="Email" class="form-control input-lg"
                                    placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" id="phone" name="Mobile" required class="form-control input-lg"
                                    placeholder="Phone*">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea cols="6" rows="3" id="comments" name="Address" class="form-control input-lg"
                                    placeholder="Address"></textarea>
                                <textarea cols="6" rows="3" id="comments" name="comments" class="form-control input-lg"
                                    placeholder="Message"></textarea>
                                <button id="submit" name="signin_submit" type="submit"
                                    class="btn btn-primary btn-lg btn-block">Submit now !</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div id="message"></div>
            </div>


            <div class="col-md-4 col-sm-4">
                <h3>Contact Address</h3>

                <div class="padding-as25 lgray-bg">
                    <h4>Swati Real Estate Consultanty</h4>
                    <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Pasumai Nagar, <br> #3/596 SS Villa,Near
                        Railway station,<br>Hosur- 635 126<br><br>
                        <i class="fa fa-envelope" aria-hidden="true"></i> SwatiRealEstate@Outlook.com
                    </p>
                </div>

            </div>
        </div>

    </div>


    <!-- <div class="container">
     	<img src="images/addnew.jpg" class="img-responsive">
     </div>-->

</div>